@charset "UTF-8";

/*================================================
 *  CSSリセット
 ================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;font-weight:normal;}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*================================================
 *  一般・共通設定
 ================================================*/
body {
	font-size: 14px;
	color: #333;
	font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	line-height: 1.6;
	background: #f2f2f2;
}

.inner {
	position: relative;
	width: 980px;
	margin: 0 auto;
}

header {
	box-sizing: border-box;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fcfcfc;
}

nav {
	width: 100%;
}
nav:after {
	content: '';
	display: block;
	clear: both;
}

#contents {
	box-sizing: border-box;
	overflow: hidden;
	width: 980px;
	margin: 30px auto;
}

#main {
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	width: 70%;
	padding: 10px;
	background: #fff;
}

#sub {
	box-sizing: border-box;
	overflow: hidden;
	float: right;
	width: 28%;
	padding: 10px;
	background: #fff;
}

#wide {
	box-sizing: border-box;
	padding: 10px;
	background: #fff;
}

footer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
}

a {
	color: #2a8064;
	text-decoration: underline;
}
a:hover {
	color: #2a8064;
	text-decoration: none;
}

h2 {
	padding: 30px 0;
	font-size: 26px;
	color: #2a8064;
	text-align: center;
	background: #e0e0e0;
}

h3 {
	margin: 0 0 0.5em 0;
	padding: 3px 5px;
	color: #fff;
	font-size: 16px;
	background: #434343;
}

h4 {
	margin-bottom: 0.25em;
	font-size: 16px;
	color: #2a8064;
	border-bottom: 3px solid #2a8064;
}

h5 {
	position: relative;
	margin-bottom: 0.25em;
	padding-left: 10px;
	color: #333;
	font-size: 15px;
	font-weight: bold;
}
h5:before {
	content: "";
	margin-top: -7px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 5px;
	height: 14px;
	background: #333;
}

h6 {
	margin-bottom: 0.25em;
	color: #382400;
	font-size: 14px;
	font-weight: bold;
}

p {
	margin: 0 0 1em 0;
}

img {
	vertical-align: bottom;
}

em {
	font-weight: bold;
}

strong {
	font-weight: bold;
	color: #ff0000;
}

pre {
	margin: 1em 0;
	padding: 1em;
}

blockquote {
	margin-bottom: 1em;
	padding: 1em;
	border: 1px dotted #ddd;
	border-left: 5px solid #ddd;
}

ul,ol,dl {
	margin: 0 0 1em 0;
}
ul li {
	list-style: disc;
}
ol li {
	list-style: decimal;
}
li {
	margin-left: 2em;
}

dt {
	margin-bottom: 0.5em;
	border-bottom: 1px dotted #ddd;
}
dt:before {
	content: "\0025a0";
}
dd {
	margin-bottom: 1em;
}

table {
	width: 100%;
	margin-bottom: 1em;
	border-collapse: collapse;
	border: 1px solid #ddd;
	background: #fff;
}
th {
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #ddd;
	background: #eee;
}
td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

/*================================================
 *  ヘッダー
 ================================================*/
header {
	background: #fff;
}

header > .inner {
	box-sizing:border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
	padding: 20px 0;
}

.summary {
	position: relative;
	margin: 0;
	padding-bottom: 5px;
	font-size: 12px;
}

.header_nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: censpace-betweenter;
	justify-content: space-between;
}

.header_tel {
	line-height: 1.2;
}

.header_tel .phonenumber {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.0;
}

.header_tel .open {
	font-size: 12px;
}

.header_require {
	margin: 0 20px;
}
.header_require a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #3ebf96;
	border-radius: 5px;
	text-decoration: none;
	background: #3ebf96;
}
.header_require a:hover {
	color: #999;
	border: 2px solid #3ebf96;
	background: none;
}
.header_contact a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #3ebf96;
	border-radius: 5px;
	text-decoration: none;
	background: #3ebf96;
}
.header_contact a:hover {
	color: #999;
	border: 2px solid #3ebf96;
	background: none;
}

/*================================================
 *  グローバルナビゲーション
 ================================================*/
@media print, screen and (min-width:768px) {
	nav {
		background: #4A4949;
		z-index: 3;
	}

	/* 共通 */
	nav ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	nav ul li {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	nav ul li a {
		display: block;
		margin: 0;
		padding: 16px 0;
		background: #4A4949;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		text-decoration: none;
	}

	nav ul li:hover > a {
		color: #fff;
		background: #363535;
	}

	/* 1段目 */
	nav ul.gnav > li {
		position: relative;
		width: 17%;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
	}

	nav ul.gnav > li:first-child {
		width: 15%;
	}

	nav ul.gnav > li.subnav a {
		padding-right: 20px;
	}

	nav ul.gnav > li.subnav > a:after {
		position: absolute;
		content: "";
		top: 20px;
		width: 0;
		height: 0;
		margin-left: 10px;
		border: 5px solid transparent;
		border-top-color: #fff;
	}

	/* 2段目 */
	nav ul li ul {
		position: absolute;
		z-index: 3;
		top: 100%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	nav ul li ul li {
		overflow: hidden;
		width: 150%;
		height: 0;
		color: #fff;
		transition: .2s;
	}

	nav ul li ul li a {
		padding: 13px 15px;
		text-align: left;
		background: #3d3d3d;
		font-weight: normal;
	}

	nav ul li ul li a:hover {
		background: #363535;
	}

	nav ul li:hover > ul > li {
		overflow: visible;
		height: 40px;
		border-bottom: 1px solid #464545;
	}

	nav ul li:hover ul li:last-child {
		border-bottom: none;
	}

	nav ul.gnav > li:last-child > ul {
		left: -50%;
	}

	nav ul li ul li ul:before {
		position: absolute;
		content: "";
		top: 13px;
		left: -20px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-left-color: #fff;
	}

	nav ul.gnav > li:last-child ul li ul:before {
		position: absolute;
		content: "";
		top: 13px;
		left: 200%;
		margin-left: -20px;
		border: 5px solid transparent;
		border-right-color: #fff;
	}

	/* 3段目 */
	nav ul li ul li ul {
		top: 0;
		left: 100%;
	}

	nav ul li ul li ul li {
		width: 100%;
	}

	nav ul li ul li:hover > ul > li {
		border-bottom: 1px solid #464545;
	}

	nav ul.gnav > li:last-child > ul li ul {
		left: -100%;
	}

	nav ul li ul li ul li a {
		background: #3d3d3d;
	}

	nav ul li ul li ul li a:hover {
		background: #363535;
	}

	.gnav {
		display: block !important;
	}

	#spMenu {
		display: none;
	}
}

/*================================================
 *  トピックパス（パンくずリスト）
 ================================================*/
#topicpath {
	font-size: 12px;
	padding: 20px 10px;
	background: #fcfcfc;
}

#topicpath .inner {
	width: 980px;
	margin: 0 auto;
}

/*================================================
 *  サブコンテンツ
 ================================================*/
.submenu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.submenu li a:before {
	content: "\0025a0";
	color: #000;
}
.submenu li a {
	display: block;
	padding: 10px 2px;
	color: #000;
	border-bottom: 1px dotted #ddd;
	text-decoration: none;
}
.submenu li a:hover {
	background: #eee;
}

.bnr {
	overflow: hidden;
}
.bnr ul {
	overflow: hidden;
}
.bnr li {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}
.bnr li a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
.bnr img {
	width: 100%;
}

/*================================================
 *  フッター
 ================================================*/
footer {
	clear: both;
}

.footmenu {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	background: #fff;
}
.footmenu ul {
	position: relative;
	float: left;
	left: 50%;
	margin: 0;
	padding: 0;
}
.footmenu li {
	position: relative;
	left: -50%;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 15px;
	font-size: 12px;
	text-align: center;
}
.footmenu a {
	color: #333;
	text-decoration: none;
}
.footmenu a:hover {
	color: #2a8064;
	text-decoration: underline;
}

.copyright {
	clear: both;
	padding: 20px 0;
	font-size: 11px;
	text-align: center;
	color: #efede9;
	background: #2e2e2e;
}

/*================================================
 *  ページトップへの戻り
 ================================================*/
.totop {
	position: fixed;
	bottom: 15px;
	right: 15px;
}
.totop a {
	display: block;
	text-decoration: none;
}
.totop img {
	background: #666;
}
.totop img:hover {
	background: #555;
}

/*================================================
 *  クラス
 ================================================*/
.list {
	padding: 0 0 0 0.5em;
}
.list li {
	margin: 0;
	padding: 0 0 0 15px;
	list-style: none;
	background: url(../images/check.png) 0 5px no-repeat;
}

.info dt {
	border-bottom: none;
}
.info dd {
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.col_two_one {
	overflow: hidden;
}

.col_two_one ul {
	overflow: hidden;
	margin: 2% -2% 0 0;
}
.col_two_one li {
	list-style: none;
	float: left;
	width: 48%;
	margin: 0 2% 2% 0;
}
.col_two_one li:nth-child(2n+1) {
	clear: both;
}
.col_two_one li img {
	width: 100%;
	margin-bottom: 2.5%;
}

/*================================================
 *  スライドショー
 ================================================*/
/* スライドショー */
.slide {
	display: none;
	position: relative;
	overflow: hidden;
	margin: 20px 0 0 0;
}

.slidePrev {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

.slideNext {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

.slidePrev img {
	position: absolute;
	width: 50px !important;
	height: 60px !important;
}

.slideNext img {
	position: absolute;
	width: 50px !important;
	height: 60px !important;
}

.slideInner {
	position: relative;
	margin: 0 0 5px 0;
	padding: 0;
}
.slideInner li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.slideInner li img {
	margin: 0 5px;
	padding: 0;
}

.filterPrev {
	position: absolute;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #fff;
}

.filterNext {
	position: absolute;
	right: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #fff;
}

.controlNav {
	position: relative;
	float: left;
	left: 50%;
}
.controlNav span {
	position: relative;
	left: -50%;
	float: left;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 10px;
	height: 10px;
	overflow: hidden;
	background: #ccc;
	text-indent: -9999px;
	vertical-align: middle;
}
.controlNav span:hover {
	background: #999;
	cursor: pointer;
}
.controlNav span.current {
	background: #3ebf96;
}

/*================================================
 *  タブレット向けデザイン
 ================================================*/
/* スクロールバーを考慮して20px大きいサイズで切り替え */
@media screen and (max-width:979px) {
	header > .inner {
		padding: 0 10px;
	}

	.inner {
		width: 100%;
	}

	#contents {
		width:100%;
		margin: 10px 0;
		padding: 0 10px;
	}

	#wide {
		width:100%;
		margin: 10px 0;
		padding: 10px;
	}

	#topicpath .inner {
		width: 100%;
	}

	footer {
		width: 100%;
	}
}

/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:767px) {
	.lock {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
	}

	header {
		padding: 15px 10px;
	}

	header > .inner {
		display: block;
		padding: 0;
	}

	header h1 {
		margin-bottom: 10px;
	}

	.summary {
		margin-right: 40px;
		font-size: 10px;
	}

	.header_tel .phonenumber {
		font-size: 18px;
	}

	.header_tel .open {
		font-size: 10px;
	}

	.header_require {
		margin: 0 2px;
	}

	.header_require a {
		padding: 5px 10px;
		font-size: 12px;
	}

	.header_contact {
		margin: 0 5px;
	}
	.header_contact a {
		padding: 5px 10px;
		font-size: 12px;
	}

	nav {
		background: #4A4949;
	}

	nav ul {
		margin: 0;
		padding: 0;
	}

	nav ul.gnav {
		display: none;
		z-index: 2;
		overflow: auto;
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		height: auto;
	}

	nav li {
		position: relative;
		width: 100%;
		float: none;
		margin: 0;
		text-align: left;
		list-style: none;
		border-bottom: 1px solid #444;
		background: #4A4949;
	}

	nav li:first-child {
		border-top: 0;
	}
	nav li:last-child {
		border-bottom: 0;
	}

	nav li a {
		display: block;
		padding: 10px 30px;
		color: #fff;
		text-decoration: none;
		background: #4A4949;
	}
	nav li a:hover {
		color: #fff;
		background: #363535;
	}

	nav ul ul {
		display: none;
		position: relative;
	}

	nav li li a {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 30px 10px 50px;
		text-align: left;
	}

	nav li li li a {
		padding: 10px 30px 10px 70px;
	}

	.subnav > a:before {
		display: block;
		content: "";
		position: absolute;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 20px;
		right: 30px;
		width: 10px;
		height: 10px;
		margin-top: -5px;
		background: #f1f1f1;
	}
	.subnav > a:after {
		display: block;
		content: "";
		position: absolute;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 20px;
		right: 30px;
		width: 10px;
		height: 10px;
		margin-top: -10px;
		background: #4A4949;
	}
	.subnav a:hover:after {
		background: #363535;
	}

	.active > a:before {
		margin-top: 0;
	}
	.active > a:after {
		margin-top: 5px;
	}

	#spMenu {
		display: block;
		z-index: 2;
		position: fixed;
		top: 10px;
		right: 10px;
	}
	#spMenu:hover {
		cursor: pointer;
	}

	#navBtn {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 5%;
		background: #000;
	}
	#navBtnIcon {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 14px;
		height: 2px;
		margin: -1px 0 0 -7px;
		background: #f1f1f1;
		transition: .2s;
	}
	#navBtnIcon:before,
	#navBtnIcon:after {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 14px;
		height: 2px;
		background: #f1f1f1;
		transition: 0.3s;
	}
	#navBtnIcon:before {
		margin-top: -6px;
	}
	#navBtnIcon:after {
		margin-top: 4px;
	}
	#navBtn .close {
		background: transparent;
	}
	#navBtn .close:before,
	#navBtn .close:after {
		margin-top: 0;
	}
	#navBtn .close:before {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#navBtn .close:after {
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}

	#main {
		float: none;
		width: 100%;
	}

	#sub {
		float: none;
		width: 100%;
	}

	.slide {
		margin: 0;
	}

	.col_two_one ul {
		margin-right: 0;
	}
	.col_two_one li {
		width: 100%;
	}
	.col_two_one li:nth-child(2n+1) {
		clear: both;
	}
}